#container{ 
    font-family:arial;
    font-size:10px;
    border:1px dashed #ddd; 
    width:300px;
    height:200px;
    overflow:auto;
    padding:30px;
}

#fixtures {			
    list-style-type:none;
}

#fixtures li { 
    border-bottom:1px solid #ccc; 
    text-align:center;
    padding-bottom:2px; 
    margin-bottom:5px;
}
